.containerPhoto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    margin-top: 85px;
    justify-items: stretch;
    padding: 0 20px;
  }
  
  .photoCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
.img {
  width: 120px;
  height: auto;
}

  .photoInfo {
    display: flex;
    flex-direction: column;
    padding-left: 23px;
  }
  
  .name {
    font-size: 28px;
    color: white;
  }
  
  .email {
    font-size: 22px;
    color: white;
  }
  

  @media (max-width: 968px) {
    .containerPhoto {
      width: 96%;
      grid-template-columns: repeat(1, 1fr);
    }
  }