@font-face {
    font-family: League, sans-serif;
    src: url(../fonts/League_Spartan.zip);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerBlock {
    width: 1200px;
    height: 470px;
    background-color: #3A3E4A;
    color: #FFFFFF;
    display: flex;
}

.bannerBlock__info {
    width: 50%;
    height: 470px;
    padding:  30px 60px;
    position: relative;
}

.btnBlock {
    width: 82px;
    display: flex;
    justify-content: space-between;
}

.title {
    height: auto;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 750;
    letter-spacing: -0.2px;
} 

.description {
    height: auto;
    width: 500px;
    margin-top: 50px;
    font-size: 19px;
    font-weight: 300;
}

.link {
    cursor: pointer;
    position: absolute;
    left: 60px;
    bottom: 30px;
    font-size: 24px;
    color: #1787D8;
    text-decoration: none;
}

.bannerBlock__photo {
    position: relative;
    width: 50%;
    height: 100%;
}

.bannerBlock__photoBack {
    position: absolute; /* Теперь изображение будет "приклеено" к контейнеру */
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
}


@media (max-width: 768px) {

    .bannerBlock {
        width: 980px;
        height: 297px;
    }
    
    .bannerBlock__info {
        width: 50%;
        height: 100%;
        padding:  18px 17px;
        position: relative;
    }
    
    .btnBlock {
        width: 82px;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 668px) {

    .bannerBlock {
        width: 880px;
        height: 297px;
    }
}

@media (max-width: 568px) {
 
     .bannerBlock {
         width: 710px;
         height: 297px;
     }
}