
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerBlock {
    width: 1200px;
    height: 470px;
    background-color: #3A3E4A;
    color: #FFFFFF;
    display: flex;
}

.bannerBlock__info {
    width: 50%;
    height: 470px;
    padding:  30px 60px;
    position: relative;
}

.btnBlock {
    width: 82px;
    display: flex;
    justify-content: space-between;
}

.title {
    height: auto;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 750;
    letter-spacing: -0.2px;
} 

.description {
    height: auto;
    width: 500px;
    margin-top: 50px;
    font-size: 19px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    cursor: pointer;
    position: absolute;
    left: 60px;
    bottom: 30px;
    font-size: 24px;
    color: #1787D8;
    text-decoration: none;
}

.bannerBlock__photo {
    position: relative;
    width: 50%;
    height: 100%;
}
.bannerBlock__photoBack {
    position: absolute; /* Теперь изображение будет "приклеено" к контейнеру */
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
}

@media (max-width: 1200px) {
    .bannerBlock {
        width: 96vw; 
        height: calc(96vw * (470 / 1200));
    }
    
    .bannerBlock__info {
        height: calc(96vw * (470 / 1200));
    }

    .description {
        margin-top: 25px;
        width: calc(48vw * ( 75 / 100));
        display: -webkit-box;
        -webkit-line-clamp: 4; /* Ограничение в 5 строк */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media (max-width: 1024px) {
    .title {
        margin-top: 15px;
        font-size: 25px;
    } 
}
    

@media (max-width: 768px) {
    .bannerBlock__info {
        padding:  18px 17px;    
    } 
    
    .btnBlock {
        width: 62px;
        display: flex;
        justify-content: space-between;
    }
    
    .description {
        width: 200px;
        font-size: 16px;
    }
    
    .link {
        left: 17px;
        bottom: 18px;
        font-size: 18px;
    }
}

@media (max-width: 668px) { 

    .title {
        margin-top: 15px;
        font-size: 20px;
    } 

    .description {
        width: 200px;
        margin-top: 25px;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .link {
        font-size: 16px;
    }
}

@media (max-width: 478px) {

    .btnBlock {
        width: 52px;
        display: flex;
        justify-content: space-between;
    }

   .title {
        margin-top: 10px;
        font-size: 14px;
    }

    .description {
        display: none;
    }

    .link {
        font-size: 12px;
    }
}