.container {
    width: 1200px;
    position: relative;
    margin-bottom: 600px;
}

.banner {
    width: 1200px;
    height: 280px;
    background-image: url(../img/image.png);
    border-radius: 18px;
}

.blockLang {
    position: absolute;
    top: 245px;
    left: 8px;
    font-size: 16px;
    display: inline-flex; /* Inline-flex для текста */
    align-items: center; /* Центрирование текста по вертикали */
    justify-content: center; /* Центрирование текста по горизонтали */
    border-radius: 4px;
    background-color: orange;
    padding: 2px 6px; /* Добавьте внутренние отступы для красоты */
    white-space: nowrap; /* Отключает перенос текста */
    z-index: 1;
    user-select: none;
}

.block1 {
    position: absolute;
    top: 233px;
    left: 15px;
    width: 260px;
}
.poster {
    width: 260px;
    height: 364px;
    border-radius: 12px;
    user-select: none; /* Отключает выделение */
    -webkit-user-drag: none; /* Отключает перетаскивание изображения */
}
.btn {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #363A40;
    color: #BFBFBF;
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;
}
.btn:hover {
    color: #FFF;
}
.infoBlock {
    width: 100%;
    height: 170px;
    margin-top: 15px;
    background-color: #363A40;
    border-radius: 12px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.infoP {
    }
.argument {
    font-size: 14px;
    color: #BFBFBF;
}
.value {
    margin-top: 2px;
    font-size: 18px;
    color: #FFF;
    font-weight: 600;
}
.block2 {
    position: absolute;
    right: 0;
    top: 310px;
    width: 880px;
    height: 400px;
    background-color: #363A40;
    padding: 0 30px;
    border-radius: 12px;
}

.title {
    margin-top: 25px;
    font-size: 40px;
    color: #BFBFBF;
    padding: 0;
}

.line {
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.lineI {
    font-size: 24px;
    color: #FF9800;
    font-weight: 400;
    padding-left: 4px;
}
.resp {
    width: 100%;
    height: 1px;
    background-color: #BFBFBF;
    position: absolute;
    bottom: 0;
    border-radius: 5px;
}

.description {
    margin-top: 20px;
    font-size: 20px;
    color: #FFF;
    word-wrap: break-word; /* Разбивать длинные слова */
    overflow-wrap: break-word; /* Альтернативное свойство для лучшей поддержки */
    white-space: normal; /* Перенос строк */
    max-width: 100%; /* Чтобы не выходил за пределы родителя */
}


@media (max-width: 1224px) {

    .container {
        width: 96vw;
    }
    
    .banner {
       width: 96vw;
    }

    .block1 {
        width: calc(96vw * (260 / 1200)) ;
        min-width: 170px;
    }

    .poster {
        width: 100%; 
        height: auto;
        aspect-ratio: 260 / 364;
    }
    .block2{
        width: calc(96vw * (880 / 1200)) ;
    }
}

@media (max-width: 750px) {
    .block1 {
        display: grid;
        width: calc(96vw - 15px);
        grid-template-columns: 170px calc(96vw - 205px);
        grid-template-rows: auto auto; 
        gap: 10px; 
        align-items: center;
    }

    .poster {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 170px;
        justify-self: center;
    }

    .block11 {
        display: grid;
        grid-template-columns: auto auto; /* Две колонки */
        grid-template-rows: auto auto; /* Две строки */
        gap: 10px; /* Отступ между элементами */
        align-items: center;
    }

    .infoBlock {
        padding: 10px;
        margin: 0;
        grid-column: 1 / 3; /* Занимает всю ширину */
        grid-row: 1 / 2; /* Первая строка */
    }

    .btn {
        grid-column: 1 / 3; /* Занимает всю ширину */
        grid-row: 2 / 3; /* Вторая строка */
        justify-self: center; /* Центрируем кнопку */
    }

    .block2 {
        left: 15px;
        top: 500px;
        width: calc(96vw - 25px);
    }

    .title {
        font-size: 32px;
    }
    .lineI {
        font-size: 20px;
    }
    .description {
        font-size: 18px;
    }
}
