@font-face {
    font-family: League, sans-serif;
    src: url(../fonts/League_Spartan.zip);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League", sans-serif;
}

.btnSing:hover .text {
    color: #FFF;
}
   
.btnSing {
    cursor: pointer;
}

.btnSing__container {
    width: 100px;
    height: 40px;
    background-color: #3E4652;
    border-radius: 12px;
    border: none; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 7px;
    padding: 9px 13px;
}

.btnSing__container img {
    user-select: none; /* Отключает выделение */
    -webkit-user-drag: none; /* Отключает перетаскивание изображения */
}

.text {
    color: #bfbfbf;
    font-size: 14px;
    font-weight: 700;
    transition: color 0.25s ease;
    user-select: none; /* Отключает выделение */
    -webkit-user-drag: none; /* Отключает перетаскивание изображения */
}