
.section {
    display: flex;
    width: 1200px;
}

.section__catalog {
    height: max-content;
    width: 764px;
    background-color: #3A3E4A;
    border-radius: 12px;
    padding: 15px;
    
}

.catalogTitle {
    font-size: 23px;
    color: #BFBFBF;
}

.catalogLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    height: 31px;
    border: 1px solid #BFBFBF;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
}

.searchInput {
    border: none;
    outline: none;
    background-color: transparent;
    color: #BFBFBF;
    font-size: 13px;
    width: 100%;
}

.books {
    display: grid;
    grid-template-columns: repeat(4, 168.5px);
    gap: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    align-items: flex-end;
    position: relative;
    width: 168.5px;
}

.blockLang {
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 12px;
    display: inline-flex; /* Inline-flex для текста */
    align-items: center; /* Центрирование текста по вертикали */
    justify-content: center; /* Центрирование текста по горизонтали */
    border-radius: 4px;
    background-color: orange;
    padding: 2px 6px; /* Добавьте внутренние отступы для красоты */
    white-space: nowrap; /* Отключает перенос текста */
    user-select: none;
}


.bookImg {
    display: flex;
    align-items: end;
    width: 161px;
    height: 225px;
    border-radius: 12px;
}

.bookTitle {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #BFBFBF;
    text-decoration: none;
    transition: color 0.25s ease;
    text-align: left;
    padding-left: 7px;
}
.bookTitle:hover {
    color: #1787D8;
}

.filters {
    position: fixed;
    top: 100px;
    left: calc(50% + 195px); /* Используем calc для сложения */
    transform: translateZ(-50%); /* Центрирование по вертикали */
    width: 405px;
    height: 350px;
    background-color: #3A3E4A;
    border-radius: 12px;
    padding: 15px;
}



.fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fieldsetHead {
    display: flex;
    justify-content: space-between;
}

.fieldsetTitle {
    font-size: 23px;
    color: #BFBFBF;
}

.fieldsetTitle:last-child {
    margin-top: 30px;
}

.btn {
    padding: 4px 14px;
    width: max-content;
    height: 27px;
    background-color: #434653;
    border: none;
    border-radius: 8px;
    color: #BFBFBF;
    font-size: 14px;
}

.fieldsetLabel {
    color: #BFBFBF;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.fieldsetInput {
    appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 20px;
      height: 20px;
      border: 1px solid #a9a9a9;
      border-radius: 4px;
      cursor: pointer;
      position: relative;
}

.fieldsetInput:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 5px;
    height: 10px;
    border: solid #526CFE; 
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-radius: 12px;
}

.B {
    display: flex;
    justify-content: center;
}
.filters2 {
    display: none;
}
.fTitle {
    display: none;
}

@media (max-width: 1200px) {
    .section {
        width: 1024px
    }

    .section__catalog {
        width: 724px;
        padding: 10px;
    }

    .catalogLabel {
        margin: 10px 0;
    }

    .filters {
        left: calc(50% + 224px);
        width: 290px;
        height: 300px;
        padding: 10px;
    }

    .books {
        gap: 10px
    }
}

@media (max-width: 1032px) {
    .section {
        width: 960px;
    }

    .section__catalog {
        width: 665px;
        padding: 5px;
    }

    .filters {
        left: calc(50% + 190px);
    }
        
    .books {
        grid-template-columns: repeat(4, 160px);
        gap: 15px 5px;
    }

    .book {
        gap: 8px;
        width: 160px;
    }

    .bookImg {
        display: flex;
        align-items: end;
        width: 153px;
        height: 215px;
        border-radius: 12px;
    }
}

@media (max-width: 968px) {
    .section {
        width: 900px;
    }
    .section__catalog {
        width: 605px;
    }
    .filters {
        left: calc(50% + 160px);
    }
    .books {
        grid-template-columns: repeat(4, 145px);
    }
    .book {
        width: 145px;
        gap: 5px;
    }
    .bookTitle {
        padding-left: 5px;
    }
    .bookImg {
        display: flex;
        align-items: end;
        width: 140px;
        height: 196px;
        border-radius: 12px;
    }
}

@media (max-width: 908px) {
    .section {
        width: 830px;
    }
    .section__catalog {
        width: 565px;
    }
    .filters {
        width: 260px;
        padding: 10px 5px 10px 10px;
        left: calc(50% + 155px);
    }
    .fieldsetTitle, .catalogTitle {
        font-size: 20px;
    }
    .book {
        width: 135px;
    }
    .books {
        grid-template-columns: repeat(4, 135px);
    }
    .bookImg {
        width: 130px;
        height: 182px;
    }
}
@media (max-width: 838px) {
    .section {
        width: 690px;
    }
    .section__catalog {
        width: 440px;
    }
    .filters {
        width: 245px;
        padding: 10px 5px 10px 10px;
        left: calc(50% + 100px);
    }
    .fieldsetTitle, .catalogTitle {
        font-size: 18px;
    }
    .fieldsetLabel {
        font-size: 14px;
    }
    .book{
        width: 140px;
    }
    .books {
        grid-template-columns: repeat(3, 140px);
    }
    .bookImg {
        width: 135px;
        height: 189px;
    }
}

@media (max-width: 700px) {
    .section {
        width: 96vw;
    }

    .section__catalog {
        width: 100%;
    }
    .catalogTitle {
        font-size: 16px;
    }

    .filters {
        display: none;
    }
   
    .books {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .book {
        width: 120px;
    }

    .bookImg {
        width: 115px;
        height: 161px;
    }
    
    .bookTitle {
        font-size: 12px;
        text-align: left;
        padding-left: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .titles {
        display: flex;
        justify-content: space-between;
    }
    .fTitle {
        display: flex;
        color: #BFBFBF;
        font-size: 16px;
        cursor: pointer;
        &:hover {
            color: #FFF;
        }
    }
    .filters2 {
        display: flex;
        font-size: 16px;
        color: #BFBFBF;
        position: absolute;
        top: 170px; 
        right: 12px;
        width: 253px;
        padding: 10px;
        background-color: #3A3E4A;
        border-radius: 10px;
        border: 1px solid #bfbfbf;
        z-index: 1;
    }
    .div {
        display: flex;
        gap: 3px;
        align-items: center;
        position: relative;
    }
    .icon {
        width: 15px;
        height: 15px;
    }
    .fieldset {
        width: 100%;
    }
    .fieldsetHead {
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .btn {
        padding: 2px 6px;
        width: max-content;
        height: auto;
        background-color: #434653;
        border: none;
        border-radius: 8px;
        color: #BFBFBF;
        font-size: 14px;
        cursor: pointer;
    }
}