
.container {
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 700px;
}
.mainBlock {
    position: relative;
    display: flex;
}
.catalogTitle {
    font-size: 28px;
    color: #bfbfbf;
    padding: 20px;
    padding-left: 30px;
}
.inputCon {
    display: flex;
    justify-content: center;
    width: 100%;
}
.searchIcon {
    padding-left: 37px;
    position: absolute;
    left: 5px;
    padding-top: 10px;
    width: 15px;
    height: 16px;
}
.catalogInput {
    width: 87%;
    background-color: transparent;
    height: 34px;
    border: 1px solid #bfbfbf;
    border-radius: 8px;
    padding: 0px 30px;
}
.catalogInput:focus {
    outline: none;
    color: rgb(255, 255, 255);
}
.catalogInput::placeholder {
    color: #bfbfbf;
    font-size: 13px;
    opacity: 90%;
    padding-left:9px ;
    position: absolute;
    top: 10px;
}
.catalogNav {
    background-color: #3a3e4a;
    position: fixed;
    width: 405px;
    height: 305px;
    margin-top: 50px;
    border-radius: 12px;
    margin-left: 930px;
}
.catalogNavTitle {
    font-size: 25px;
    color: #bfbfbf;
    font-weight: 600;
    padding: 20px;
    padding-left: 20px;
}
.catalogBtn , .catalogBtn1{
    border: none;
    border-radius: 8px;
    color: #bfbfbf;
    font-size: 14px;
    width: 96px;
    height: 27px;
    background-color: #434753;
    position: absolute;
    font-weight: 600;
}
.catalogBtn {
    right: 20px;
    top: 20px;
}
.catalogBtn1 {
    right: 20px;
    bottom: 20px;
}
.catalogBtn:hover, .catalogBtn1:hover{
    color: #ffffff;
    transform: scale(1.1);
    transition: transform 0.5s;
}
.checkboxMain {
    list-style-type: none;
    padding: 0;
    padding-left: 20px;
    color: #bfbfbf;
    font-size: 16px;
    font-weight: 550;
}
.filterCheckbox {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.filterCheckbox:checked {
    background-color: rgb(198, 198, 198); 
    border-color: #ffffff; 
}
.checkboxLbl {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.catalogNav1 {
    background-color: #3a3e4a;
    position: fixed;
    width: 405px;
    height: 305px;
    margin-top: 380px;
    border-radius: 12px;
    margin-left: 930px;
}

.catalogContainer {
    background-color: #3a3e4a;
    position: relative;
    /* width: 765px; */
    width: 68%;
    height: 77%;
    border-radius: 12px;
    margin-top: 50px;  
    margin-left: 10px;
    padding-bottom: 30px;
}
.booksGallery {
    padding-left: 30px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 35px;
}
.booksImg {
    width: 190px;
    height: 265px;
    border-radius: 12px;
}
.booksTitle {
    color: #bfbfbf;
    font-size: 14px;
    padding-top: 10px;
}
