

.feedback {
    flex: 1; /* Занимает оставшуюся высоту в .app__content */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Чтобы занять всю ширину родителя */
}

.section {
    height: max-content;
    width: 720px;
    background-color: #3A3E4A;
    border-radius: 8px;
    padding: 20px;
}

.section__contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section__title {
    color: #bfbfbf;
}

.section__description {
    font-size: 16px;
    color: #ffffff;
}

b {
    color: #526CFE;
}