.mainAbout {
    position: relative;
    overflow: hidden;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .aboutTitle {
    font-size: 35px;
    font-weight: bold;
    line-height: 100%;
    text-align: center;
    font-family: 'League-Spartan', sans-serif;
    margin-top: 70px;
    color: white;
  }
  
  .aboutTtl {
    font-size: 50px;
  }
  
  .aboutDescription {
    color: white;
  }
  
  .description {
    font-size: 24px;
    font-weight: 500;
    padding-top: 35px;
  }
  

@media (max-width: 1024px) {
  .aboutTtl {
    font-size: 36px;
  }
  .description {
    font-size: 20px;
  }
  
}