.container {
    width: 1200px;
    height: auto;
    background-color: #3A3E4A;
    border: none;
    border-radius: 12px;
    padding: 15px;
}

.Title {
    font-size: 28px;
    color: #BFBFBF;
}

.searchLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    height: 31px;
    border: 1px solid #BFBFBF;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
}
.searchInput {
    border: none;
    outline: none;
    background-color: transparent;
    color: #BFBFBF;
    font-size: 13px;
    width: 100%;
}

.gridPersons {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 10px 30px;
    color: #FFF;
}

.itemPerson {
    width: 360px;
    height: 225px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}

.photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: 190px;
}

.namePerson {
    font-size: 22px;
    font-weight: 600;
    width: 340px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    margin-top: 15px;
    transition: color 0.25s ease;
    cursor: pointer;
    text-align: center;
}
.namePerson:hover {
    color: #1787D8;
}
.itemPerson .namePerson:last-child{
    margin: 0;
}

@media (max-width: 1208px) {

    .container {
        width: 95vw;
    }
    
    .historyBlock {
        width: 810px;
        height: auto;
        padding-bottom: 90px;
    }

    .gridPersons {
        grid-template-columns: repeat(2, 360px);
        justify-content: center;
        gap: 10px 15px;
    }
}


@media (max-width: 805px) {
    .container {
        background-color: transparent;
    }

    .gridPersons {
        grid-template-columns: repeat(1, 360px);
    }

    .head {
        width: 100%;
        background-color: #3A3E4A;
        border: none;
        border-radius: 12px;
        padding: 15px;
    }

    .searchLabel {
        margin-bottom: 0;
    }
}

@media (max-width: 400px) {
    .gridPersons {
        grid-template-columns: repeat(1, 300px);
    }

    .itemPerson {
        width: 300px;
        height: 300px;
    }
    .namePerson {
        width: 300px;
    }
}