

.search {
    position: relative; 
}

.search__container {
    width: 449px;
    height: 56px;
    background-color: #3E4652;
    border-radius: 12px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 22px;
}

.search__inp {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #BFBFBF;
    background-color: transparent;
    border: none;
    outline: none;
}
.search__icon {
    user-select: none; /* Отключает выделение */
    -webkit-user-drag: none; /* Отключает перетаскивание изображения */
    margin-left: 10px;
}

.search__suggestions {
    list-style: none;
    margin: 8px 0 0;
    padding: 8px 0;
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%; 
    background-color: #2C3139; 
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    max-height: 200px; 
  
    overflow: auto; 
    -ms-overflow-style: none; 
    scrollbar-width: none; 

    z-index: 10; 
}

.search__suggestions::-webkit-scrollbar {
    display: none; 
  }

.search__suggestionItem {
    padding: 12px 22px;
    font-size: 14px;
    font-weight: 500;
    color: #BFBFBF;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search__suggestionItem:hover {
    background-color: #3E4652; 
    color: #FFFFFF; 
}

.search__noResults {
    list-style: none;
    margin: 8px 0 0;
    padding: 8px 0;
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%; 
    background-color: #2C3139; 
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    max-height: 200px; 
  
    overflow: auto; 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    z-index: 10; 
    padding: 12px 22px;
    font-size: 14px;
    font-weight: 500;
    color: #BFBFBF;
}

.search__noResults::-webkit-scrollbar {
    display: none; 
  }

@media (max-width: 1200px) {

   .search__container {
        width: 358px;
    }  
}


@media (max-width: 768px) {

   .search__container {
        width: 358px;
    }
}

@media (max-width: 568px) {
    .search__container {
        width: 300px;
        border-radius: 10px;
    }
}

@media (max-width: 478px) {
    .search__container {
        width: 250px;
        height: 46px;
        border-radius: 8px;
    }
}

@media (max-width: 428px) {
    .search__container {
        width: 200px;
        height: 40px;
        border-radius: 8px;
    }

    .search__icon {
        width: 18px;
        height: 18px;       
    }
}