.main {
    width: 1200px;
    color: #fff;
    display: flex;
    background-color: #3A3E4A;
    border-radius: 12px;
    padding: 20px;
    position: relative;
}

.avatarContainer {
    position: relative;
    width: 250px;
    height: 250px;
}
.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img {
    width: 100%;
    height: 100%;
}
.avatarUpdate {
    position: absolute;
    bottom: 6px;
    right: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.avatarUpdate img {
    width: 100%;
    height: 100%;
}

.info {
    margin-left: 25px;
}




.logoutButton {
    background-color: #f44336; /* Красный цвет */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.logoutButton:hover {
    background-color: #d32f2f; /* Темный красный при наведении */
}

.adminButton {
    background-color: #3636f4; /* Красный цвет */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.adminButton:hover {
    background-color: #2f34d3; /* Темный красный при наведении */
}

@media (max-width: 768px) {
    .adminButton {
        display: none;
    }
}